<div class="bg-white">
  <div class="container">
      <p class="m-0 py-4 text-center form-text text-800">Copyright &copy; <%= Time.zone.now.year %> All Right Reserved, Your Company</p>
  </div>
</div>
