<h1>Users::Accounts#dashboard</h1>
<p>Find me in app/views/users/accounts/dashboard.html.erb</p>
<ul>
  <li>Role: <%= current_user.roles %></li>
  <li>2FA: <%= current_user.confirmed_by_email? %> </li>
</ul>
