<!-- Page Naviagation -->
<div class="bg-light sticky-top">
  <div class="container">
    <%= render partial: "components/header" %>
  </div>
</div>
<!-- Hero  -->
<div class="bg-light">
  <div class="container">
    <div class="row align-items-center vh-100">
      <div class="col-lg-6">
        <h1 class="display-2 fw-bolder text-800">The Main Feature</h1>
        <h2 class="display-6 text-800">Simple Solution to a problem.</h6>
        <%= link_to 'Get Started', register_path, class:"btn btn-primary fs-2 px-4 py-2  lift mt-4" %>
      </div>
      <div class="col-lg-6">
        <h1 class="text-center">Add an Image</h1>
      </div>
    </div>
  </div>
</div>

<!-- Footer  -->
<%= render partial: "components/footer" %>
