<div class="container my-4">
  <div class="card border-blue">
    <div class="row p-3">
      <div class="col-1 text-center text-blue"><i class="fa-solid fa-circle-info fa-2xl"></i></i></div>
      <div class="col-11 text-800"><%= msg %></div>
    </div>
  </div>
</div>
